.list-body{
    font-size: 12px;
}

div.dashboard-wrap {
    div.reaction-wrap {

        &.enable-message {
            height: 250px;
            overflow: visible;

            div {
                width: 160px;
                height: 46px;

                &.reaction-button-understood {
                    float: left;
                    margin-top: 20px;
                    margin-left: 15px;
                }

                &.reaction-button-not-understood {
                    float: right;
                    margin-top: 20px;
                    margin-right: 15px;
                }

                img {
                    height: 24px;
                }

                p {
                    left: 38px;
                    font-size: 16px;
                }

                &:active {
                    border: solid 1px white;
                    p {
                        top: 13px;
                        left: 43px;
                        font-size: 15px;
                    }
                    img {
                        height: 20px;
                        top: 12px;
                        left: 10px;
                    }
                }
            }
        }

        padding: 110px 0 0 0;
        height: calc(100% - 110px);
        
        background-color: rgba(17,25,142,1);

        p {
            margin: 10px 15px 0 25px;
            color: rgb(240,240,240);
        }

        div {
            width: 200px;
            height: 50px;
            margin: auto;
            margin-top: 10px;
            background-color: #080D3F;
            border: solid 3px white;
            border-radius: 10px;
            position: relative;

            &:active {
                background-color: #8A91D8;
                p {
                    color: white;
                }

                img {
                    height: 26px;
                    top: 10px;
                    left: 7px;
                }

            }

            &.reaction-button-understood {
                margin-top: 100px;
            }

            &.reaction-button-not-understood {
                margin-top: 30px;
            }

            img {
                position: absolute;
                top: 8px;
                left: 5px;
            }

            p {
                position: absolute;
                top: 10px;
                left: 45px;
                margin: auto;
                font-size: 20px;
                text-align: 'center';
            }

        }
    }

    div.messages {
        padding-bottom: 5rem;
        padding-top: 110px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        &.enable-reaction {
            padding-top: 0;
        }

        div.message-node {
            position: relative;
            margin : 1rem;
            padding: 0.6rem 0.6rem 0.6rem 1rem;
            border-radius: 4px;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
            background-color: rgba(255,255,255,1.0);
            min-height: 8rem;

            animation-duration: 0.5s;
            animation-name: slide-hidari;

            &:after {
                content: ".";
                clear: both;
                height: 0;
                display: block;
                visibility: hidden;
            }

            div.likes-wrap {
                position: absolute;
                top: 1rem;
                right: 10px;
                padding: 0 5px;

                p.like-message {
                    position: relative;
                    top: -5px;
                    margin: 0;
                    padding: 0;
                    font-size: 0.8rem;
                    color: #424242;
                    text-align: center;
                }

                p.likes {
                    left: 0;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    text-align: center;
                }
            }

            div.message-text {
                margin: 0 6rem 2rem 0;

                p {
                    font-size: 1.3rem;
                    line-height: 2rem;
                    white-space: normal;
                    margin: 0;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            div.message-info {
                position: absolute;
                bottom: 0;
                left: 2rem;
                width:calc(100% - 9rem);
                margin: 0 6rem 0.5rem 0;
                font-size: 1rem;
                color: #BDBDBD;

                div:nth-child(1) {
                    text-align: left;
                    float: left;
                }

                div:nth-child(2) {
                    text-align: right;
                }
            }
        }
    }

    div.message-form {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background-color: #E0E0E0;

        textarea {
            float: left;
            line-height: 26px;
            width: calc(100% - 50px);
            font-size: 18px;
            padding: 0;
            border: 0;
            border-radius: 2px;
            resize: none;
        }

        div.message-submit {
            float: right;
            width: 45px;
            height: 26px;
            border-radius: 2px;
            background-color: #3F51B5;
            margin-left: 5px;
            &:active {
                background-color: #5C6BC0;
            }

            p {
                text-align: center;
                color: white;
                font-size: 16px;
                margin: 2px 0 2px 0;
            }
        }
    }
}

@keyframes slide-hidari {
    from {
        left: 100%;
        opacity: 0;
    }      
    to {
        left: 0;
        opacity: 1;
    }
}
